body{
    display: grid;
    grid-template-rows: 20% auto 20%;
    grid-template-columns: auto;
    
}

body .pageHeader{
    font-size: 20;
    text-align: center;
    
    border: 2px;
    border-color: black;
    border-style: solid;
}

body .pageBody{
    font-size: 20;
    border: 2px;
    border-color: blue;
    border-style: solid;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 5% auto 5%;
}

.pageBody .andrewsSection{
    grid-row: 2/3;
    grid-column: 2/3;
    
    border: 2px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    font-size: 25;
    
}

#box{
    height: 125px;
    font-size: 20;
    /* height: 100px; */
    margin: 10px 10px 10px 10px;
    color: gray;
    background-color: lightgray;
    border-radius: 10px;
}

#breaker{
    border-top: 1px solid gray;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 1000px;
}

body .pageFooter{
    font-size: 20;
    text-align: center;
    
    border: 2px;
    border-color: red;
    border-style: solid;
}